<footer class="text-center footer-basic">
    <ul class="list-inline">
        <li class="list-inline-item text-muted">
            <a href="/">Tous les snippets</a>
        </li>
        <li class="list-inline-item text-muted">
            <a href="/add-snippet">Ajouter un snippet</a>
        </li>
    </ul>
    <p class="copyright "> © Copyright 2023 - Nathan Thibault. All rights reserved</p>
</footer>