<header class="navbar navbar-light bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white linkHover ml-5 " href="/">Liste complète des snippets</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-5">
        <a class="navbar-brand text-white linkHover" href="/admin/add-snippet">Ajouter un snippet</a>
      </li>
    </ul>
  </div>
</header>